@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  display: block;
  margin: 0;
}

h1,
.h1 {
  font-size: 40px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 20px;
}

p {
  line-height: 1.56;
  font-weight: 300;
  margin: 0;
  margin-bottom: 20px;
}
